<h1>New choice</h1>

<% form_for(@choice) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :election_id %><br />
    <%= f.text_field :election_id %>
  </p>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', choices_path %>