- form_for :election, election, :url => {:action => (controller.action_name == "new" ? "create" : "update")} do |election|
	= election.error_messages
	%fieldset
		%legend Election
		
		%ol
			%li
				= election.label :name, "Election Name<em>*</em>"
				= election.text_field :name, :size => '25'
				

			%li
				= election.label :blurb 
				= election.text_area :blurb, :size => '40x5'

			%li
				= election.label :start 
				= election.datetime_select :start, :start_year => Time.now.year, :end_year => (Time.now.year + 1)

			%li
				= election.label :end 
				= election.datetime_select :end, :start_year => Time.now.year, :end_year => (Time.now.year + 1), :default => 1.week.from_now

			%li
				= election.label :method, "Type"
				%fieldset
					= election.radio_button :method, :preferential
					= election.label :method_preferential, "Preferential"
					= election.radio_button :method, :single_choice
					= election.label :method_single_choice, "Single Choice"
					= election.radio_button :method, :multiple_choice
					= election.label :method_multiple_choice, "Multiple Choice"

			%li
				= election.label :eligible_year 
				= election.text_field :eligible_year 

			%li
				= election.label :eligible_discipline 
				= election.text_field :eligible_discipline 
			
			
				
			
	%fieldset
		%legend Choices
		
		%ol#choices
			-@election.choices.each_with_index do |choice, index|
				= render :partial => 'choice', :locals => {:election => election, :choice => choice, :index => index}

		= render :partial => 'add_choice_link', :locals  => {:index => @election.choices.size }
	
		%ol
			%li
				=election.label :min_choices
				=election.text_field :min_choices, :size => 1	
			%li
				=election.label :max_choices
				=election.text_field :max_choices, :size => 1
				
			%li
				= election.label :random, "Randomize Order"
				= election.check_box :random 
				
	%p
		= election.submit (controller.action_name == "new" ? 'Create Election' : 'Update Election' )
		= link_to 'Cancel', :action => 'admin'
		

