<p>
  <b>Name:</b>
  <%=h @election.name %>
</p>

<p>
  <b>Blurb:</b>
  <%=h @election.blurb %>
</p>

<p>
  <b>Start:</b>
  <%=h @election.start %>
</p>

<p>
  <b>End:</b>
  <%=h @election.end %>
</p>

<p>
  <b>Eligible year:</b>
  <%=h @election.eligible_year %>
</p>

<p>
  <b>Eligible discipline:</b>
  <%=h @election.eligible_discipline %>
</p>

<p>
  <b>Preferential:</b>
  <%=h @election.preferential %>
</p>


<%= link_to 'Edit', edit_election_path(@election) %> |
<%= link_to 'Back', elections_path %>