%h2= "Voting for: "+@election.name
%p= @election.blurb

- form_for :vote, @vote, :url => {:controller => "votes", :action => "create"} do |f|
	=render :partial => "partials/"+@election.method, :locals => {:f => f, :election => @election, :choices => @choices}
	
	-fields_for @election do |election|
		= election.hidden_field :id

	= link_to "&laquo; Vote Later", "/", :class => 'back' 
	= f.submit "Cast Vote", :disabled => true, :id => 'submit', :class => 'disabled', :confirm => 'Cast Ballot: Are you sure?' 	
	= f.submit "Spoil Ballot", :id => 'spoil', :confirm => 'Spoil Ballot: Are you sure?'


